@{
    ViewBag.Title = "Rejection";
}
@section Scripts
{
  
}
<h2>Rejection</h2>

<form action="/grid/rejectresult" method="post">
    <div class="panel panel-primary" ng-app="myApp" ng-controller="customersCtrl">
        <div class="panel-heading">
            <h3 class="panel-title">Rejection Reasons</h3>
        </div>
        <div class="panel-body">
            <div class="col-md-12">
                <center>
                    RPR: C40501008 Status: Rejected Printed: 01/03/2014 Receipt: 04010111-391010314 Group ID: None<br><br>
                    Reject Notice - Residential Property Report
                </center> <br>
                The attached Residential Property Report (RPR No. referenced above) cannot be completed for the reason(s) checked below:
            </div>
            <div ng-repeat="rejectHead in rejectHeads track by $index" ng-init="indexvar=$index">

                <label><input type="checkbox" ng-model="checked" ng-change="allClear($index)"> {{$index+1}}. {{rejectHead}} </label>
                <div class="col-md-offset-1 col-md-11" ng-repeat="rejectReason in rejectReasons[$index] track by $index">

                    <div ng-if="!(rejectReason=='Other')">
                        <div class="checkbox">
                            <label class="ng-binding">
                                <input type="checkbox" ng-disabled="!checked" ng-click="setting(indexvar,rejectReason)" ng-checked="checked && 0" value="{{rejectReason}}">
                                {{$index+1}}. {{rejectReason}}
                            </label>
                        </div>
                    </div>

                    <div ng-if="rejectReason=='Other'">
                        <div class="checkbox">
                            <label class="ng-binding">
                                <input type="checkbox" ng-disabled="!checked" ng-change="setting(indexvar,boxclears[indexvar])" ng-checked="(checked && false)" value="{{rejectReason}}" ng-model="a">
                                {{$index+1}}. {{rejectReason}}
                            </label>
                        </div>
                        <input type="text" class="form-control" ng-show="(a || !checked) && checked" ng-model="boxclears[indexvar]" ng-blur="setting(indexvar,boxclears[indexvar])" ng-focus="setting(indexvar,boxclears[indexvar])">
                    </div>
                </div>
                <input type="hidden" name="{{names[indexvar]}}" value="{{rejectList[indexvar]}}">
            </div>
        </div>
        <button type="submit" disabled>Submit</button>
    </div>

</form>