
@{
    ViewBag.Title = "Result";
    
}

<h2>Result</h2>

    @{
        string[] s = (Model.LegalRejetion??"").Split('^');
        string[] k=(Model.CountyRejection ??"").Split('^');
        string[] m = (Model.AttachmentRejection??"").Split('^')??"";
        string[][] reject = new string[][] {s,k,m };
    }
@foreach(var reasons in reject)
{ 
<ol>

    @foreach (var f in reasons)
    {
        if ((@String.Compare(f, "")) != 0)
        {
            <li>@f</li>
        }
    }
</ol>
    }