
@{
    ViewBag.Title = "Sample";
}

@section Scripts
{
    
}

<h2>Sample</h2>

<button class="btn btn-primary" data-toggle="modal" data-target="#myModal"> Click!!</button>

<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModal-label" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="myModal-label">Rejection </h4>
            </div>
            <div class="modal-body" >
                <p>@{Html.RenderPartial("Rejection");}</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Save</button>
            </div>
        </div>
    </div>
</div>